* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.main-container {
    background-image: url("background-b.png");
    background-size: fill;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

section,
footer {
    margin: 0 auto;
    padding: 1.5rem 0;
}

.highlight {
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.3);
}

header {
    background-image: url("background-b.png");
    background-color: white;
    background-size: fill;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    padding: 0.5rem 10%;

    position: fixed;
    width: 100%;

    h1 {
        color: purple;
    }

    ul {
        list-style: none;
        margin: auto 5rem auto 0;

        li {
            margin: 0 15px;
            display: inline-block;
        }
    }
}

div.site-title {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
}

section.ad {
    width: 45vw;
    padding: 2.5rem;
    margin-top: 6rem;

    h1 {
        display: inline;
    }

    img {
        float: right;
        width: 175px;
        margin: 0 0 0 3rem;
    }

    >* {
        margin: 0.8rem 0;
    }

    button {
        height: 32px;
        width: 215px;
        background-color: rgba(0, 0, 0, 0.001);
        border-radius: 5px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.team,
.testimonial-container {
    width: 65vw;
    gap: 5rem;
}

section.team {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

div.member,
div.testimonial {
    margin: 2rem 0;
    flex: 1 1 25%;
}

section.team h1,
section.testimonial-container h1,
section.newsletter,
section.newsletter>* {
    flex: 0 0 100%;
    text-align: center;
}

section.team h1,
section.testimonial-container h1 {
    font-size: 39px;
}

div.member {

    :nth-child(3) {
        margin: 1.2rem 0;
    }

    h3 {
        margin: 0.5rem 0;
    }

    img {
        object-fit: cover;
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.3);
    }
}

section.newsletter {
    display: flex;
    flex-wrap: wrap;
    background-color: purple;
    height: 25vh;
    margin-bottom: 0;

    >* {
        margin: 0 auto;
    }

    h2 {
        font-size: 35px;
        margin: auto auto;
        color: white;
    }

    button {
        width: 140px;
        height: 30px;
    }

    .input {
        height: 30px;
        width: 350px;
    }
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

section.testimonials {
    background-image: url("background-a.png");
    width: 100vw;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.3);
    margin-top: 0;
    padding: 5rem 0 14rem 0;
}

hr {
    width: 100px;
    margin: 1rem auto;
    height: 5px;
    border: none;
    background-color: black;
}

div.testimonial {
    text-align: center;

    :nth-child(2) {
        font-style: italic;
        margin: 1.2rem 0;
    }

    img {
        object-fit: cover;
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.3);
    }
}

.footer-container
{
    background-image: url("background-b.png");
    width: 100vw;
}

footer {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;

    >div {
        flex: 1 1 20%;
        display: flex;
        flex-wrap: wrap;
    }

    >div:nth-child(2) {
        justify-content: space-between;
    }

    h1 {
        margin: auto 0;
    }

    >div h2 {
        flex: 0 0 100%;
    }

    ul {
        list-style: none;

        li {
            padding: 2px 0;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1800px) {
    section.ad {
        width: 55vw;
    }
}

@media only screen and (max-width: 1250px) {
    section.ad {
        width: 85vw;
    }
}

@media only screen and (max-width: 550px) {
    section {
        width: 100vw !important;
    }

    .team,
    .testimonial-container {
        gap: 2rem;
        padding: 1rem;
    }

    .member,
    .testimonial {
        flex: 1 1 30% !important;
    }
}

@media only screen and (max-width: 1100px) {
    footer {
        gap: 1rem;

        >div {
            flex: 0 0 100%;
        }
    }

    header .menu {
        display: none;
    }

    header .menu-icon {
        display: block;
        cursor: pointer;
    }

    header .menu.active {
        display: block;
    }

    header .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        left: -2rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 150px;
    }

    header .menu li {
        display: inline-block;
        width: 100%;
        padding: 7px 0;
        font-size: 20px;
    }

    header .menu a {
        text-decoration: none;
        color: black;
        padding: 10px 0px;
    }

    header .menu-icon .bar {
        width: 35px;
        height: 3px;
        background-color: black;
        margin: 4px 0;
    }
}

.menu-container {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-icon {
    display: none;
}

li {
    font-size: 22px;
}